* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-color;
  margin-top: $header-height;
  margin-left: $aside-width;
}

li,
span,
h1,
h2,
h3,
p,
a {
  color: $text-color;
}
input {
  display: flex;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: 36px;
  margin-top: 16px;
  padding: 0px 14px;
  border: 2px solid $hover-color;
  background: $hover-color;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  font-family: Mulish, sans-serif;
  color: $text-color;
  outline: none;
  transition: all 0.2s ease 0s;
  flex-shrink: 0;
}
button {
  height: 36px;
  border: 0px;
  border-radius: 6px;
  padding: 0px 12px;
  font-size: 14px;
  font-weight: 600;
  font-family: Mulish, sans-serif;
  margin-top: 12px;
  background-color: $hover-color;
  color: $text-white-color;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  user-select: none;
  flex-shrink: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-family: Mulish, sans-serif;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  position: relative;
  top: -20px;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  position: relative;
  top: -20px;
}

/*Изменения скорлла*/
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-white);
}
/*Loader*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  height: 80px;
  left: 48.5%;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
