$main-color: #1c2028;
$element-color: #20242c;
$hover-color: #32373f;
$text-color: #babcc1;
$text-white-color: #ffffff;
$button-live-active: #19962d;
$pink-color: #780f65;

$header-height: 60px;
$aside-width: 80px;
