.about {
  margin: $aside-width;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: round;
  &__title {
    color: $text-white-color;
  }
  &__achievements {
    display: flex;
    align-items: center;
  }
  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
  }
  &__img {
    width: 200px;
    transition: 0.4s;
    &:hover {
      width: 220px;
      transition: 0.4s;
    }
  }
  &__numbers {
    padding: 15px;
    background: #242933;
    border-radius: 10px;
    margin-bottom: 12px;
    color: $text-white-color;
  }
  &__text {
    text-align: center;
    color: $text-white-color;
  }
}
