.about {
  margin: $aside-width;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: round;
  &__title {
    color: $text-white-color;
  }
  &__achievements {
    display: flex;
    align-items: flex-end;
  }
  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
  }
  &__img {
    height: 160px;
    width: 200px;
    transition: 0.4s;
    padding: 6%;
    &:hover {
      padding: 0%;
      transition: 0.4s;
    }
  }
  &__img.axe {
    transform: translateX(-20px);
    width: 180px;
  }
  &__img.courier {
    width: 170px;
  }

  &__numbers {
    padding: 15px;
    background: #242933;
    border-radius: 10px;
    margin-bottom: 12px;
    color: $text-white-color;
  }
  &__text {
    text-align: center;
    color: $text-white-color;
  }
}
