.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  padding: 0px 18px 0px 0px;
  margin-left: $aside-width;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $main-color;
  z-index: 1000;

  &__info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__text {
    height: 36px;
    margin-left: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.2s ease 0s;
    &:hover,
    &.active {
      background: $hover-color;
    }
  }

  &__text-link {
    font-weight: 900;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px 12px;
    border-radius: 6px;
    color: $text-color;
  }

  &__icon-vk {
    width: 40px;
    height: 42px;
  }

  &__icon-tg {
    width: 40px;
    height: 22px;
  }

  &__text-follow {
    font-weight: 900;
    font-size: 16px;
    margin: 0px 8px;
    color: $text-color;
  }

  &__menu {
    display: flex;
    margin-right: $aside-width;
  }

  &__steam {
    margin-right: 5px;
    width: 48px;
    margin-top: 5px;
    border-radius: 6px 6px 0px 6px;
    cursor: pointer;
    transition: 0.4s;
  }

  &__steam-img {
    width: 42px;
    animation-name: steam;
    animation-duration: 3s;
    transition: 1s;
    &:hover,
    &:active {
      transform: rotate(-360deg);
    }
  }

  &__chat {
    position: relative;
    right: -5px;
    height: 100%;
    width: 48px;
    margin-top: 4px;
    border-radius: 6px 6px 0px 6px;
    cursor: pointer;
    transition: 0.4s;
    &:hover,
    &:active {
      background: $hover-color;
    }
  }

  &__chat-img {
    margin-top: 4px;
    width: 48px;
    cursor: pointer;
  }
}

@keyframes steam {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
