.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  padding: 0px 18px 0px 0px;
  margin-left: $aside-width;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $main-color;

  &__text {
    height: 36px;
    margin-left: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.2s ease 0s;
    &:hover,
    &.active {
      background: $hover-color;
    }
  }

  &__text-link {
    font-weight: 900;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px 12px;
    border-radius: 6px;
    color: $text-color;
  }

  &__icon-vk {
    width: 40px;
    height: 42px;
  }

  &__icon-tg {
    width: 40px;
    height: 22px;
  }

  &__text-follow {
    font-weight: 900;
    font-size: 16px;
    margin: 0px 8px;
    color: $text-color;
  }
}
