.offer {
  margin: 80px;
  padding: 32px 64px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $element-color;
  border-radius: 6px;

  &__title {
    color: $text-white-color;
    z-index: 1;
  }

  &__paragraph {
    z-index: 1;
  }

  &__youtube {
    position: absolute;
    top: 75px;
    width: 146px;
    transform: rotate(-10deg);

    animation-duration: 2s;
    animation-name: youtube;
  }
}

@keyframes youtube {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(350deg);
  }
}
