.aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $aside-width;
  background-color: $element-color;

  &__icon {
    text-align: center;
  }
  .aside__icon:hover ~ .aside__title {
    opacity: 1;
  }

  &__link {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 8px;
    border-radius: 4px;
    transition: 0.2s;

    &:hover,
    &.active {
      background: $hover-color;
    }
  }

  &__link-logo {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 8px;
    border-radius: 4px;
    transition: 0.2s;
  }

  &__title {
    position: absolute;
    left: 85px;
    padding: 6px 12px;
    font-weight: 900;
    color: $text-white-color;
    font-size: 16px;
    background: $hover-color;
    border-radius: 4px;
    transition: all 0.2s ease 0s;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
  }

  &__img {
    width: 30px;
  }

  &__img-logo {
    width: $aside-width;
  }
}
