.faq {
  display: flex;
  height: 90vh;

  &__panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $element-color;
    padding: 32px;
    border-radius: 12px;
    margin: 12px;
  }

  &__panel-up {
    display: flex;
    flex-direction: column;
  }

  &__panel-btn {
    margin-bottom: 6px;
    color: $text-color;
    font-weight: 500;
    background: none;
    text-align: start;
    &:hover,
    &:active {
      background: $hover-color;
    }
  }
}
